<%= stylesheet_link_tag('harmonogram.css') %>
<div class="cont">
<div class="a">
<%= image_tag "logo2.png", height: 90 %>
</div>

<div class="b">
<div id="bookmarksContainer">
<ol>
<li><%= link_to "Home", "/student", class:"bookmark", id: "bookmark7" %></li>
<li><span class="bookmark">Praca dyplomowa</span>
  <ul>
    <li><%= link_to "Harmonogram", "/harmonogram", class:"bookmark", id: "bookmark1" %></li>
    <li><%= link_to "Materiały", "/materialy", class:"bookmark", id: "bookmark2" %></li>
    <li><%= link_to "Instrukcja", "/instrukcja", class:"bookmark", id: "bookmark3" %></li>
    <li><%= link_to "Prześlij pracę", "/praca", class:"bookmark", id: "bookmark4" %></li>
  </ul>
</li>
<li><%= link_to "Pomoc", "/pomoc", class:"bookmark", id: "bookmark5" %></li>
<li><%= link_to "Wyloguj się", "/wyloguj",class:"bookmark", id: "bookmark6" %></li>
</ol>
</div>
</div>

<div class="c">
<form>
<input type="search" id="searchInput" placeholder="Szukaj na stronie...">
<button type="button" class="przycisk" id="searchButton"><b> 🔎 </b></button>
</form>
</div>

<div class="m">
<h2>Harmonogram Pracy Dyplomowej — <span class="tele"> Teleinformatyka</span></h2>
<h5> Faza 1: Przygotowanie </h5>
<table>
    <tr>
        <th>Zadanie</th>
        <th>Termin</th>
    </tr>
<tr>
    <td>Wybór tematu pracy dyplomowej</td>
    <td class="w">10.11.2023</td>
</tr>
<tr>
    <td>Przygotowanie planu pracy</td>
    <td>01.12.2023</td>
</tr>
</table>
<h5>Faza 2: Implementacja</h5>
<table>
    <tr>
        <th>Zadanie</th>
        <th>Termin</th>
    </tr>
<tr>
    <td>Analiza wymagań</td>
    <td class="w">11.12.2023</td>
</tr>
<tr>
    <td>Implementacja części teoretycznej</td>
    <td>20.12.2023</td>
</tr>
</table>
<h5>Faza 3: Przesłanie pracy i obrona</h5>
<table>
    <tr>
        <th>Zadanie</th>
        <th>Termin</th>
    </tr>
<tr>
    <td>Wysłanie pracy do promotora</td>
    <td class="w">28.01.2024</td>
</tr>
<tr>
    <td>Obrony prac dyplomowych</td>
    <td>01.02.2024-10.02.2024</td>
</tr>
</table>
</div>
</div>

<footer>
    <p>&copy; 2023 Obsługa Pracy Dyplomowej</p>
</footer>

<script>

function redirectToMatchingBookmark() {
 
var searchText = document.getElementById('searchInput').value.toLowerCase();

var bookmarks = document.querySelectorAll('.bookmark');

for (var i = 0; i < bookmarks.length; i++) {
    var bookmark = bookmarks[i];
  
    var bookmarkText = bookmark.innerText.toLowerCase();

    if (bookmarkText.includes(searchText)) {
        // Przekieruj do pasującej zakładki
        window.location.href = bookmark.href;
        return;
    }
}

alert("Nie znaleziono pasującej zakładki");
}

document.getElementById('searchButton').addEventListener('click', function() {
redirectToMatchingBookmark();
});

</script>