<%= stylesheet_link_tag('materialy.css') %>
<div class="cont">
<div class="a">
<%= image_tag "logo2.png", height: 90 %>
</div>

<div class="b">
<div id="bookmarksContainer">
<ol>
<li><%= link_to "Home", "/student", class:"bookmark", id: "bookmark7" %></li>
<li><span class="bookmark">Praca dyplomowa</span>
  <ul>
    <li><%= link_to "Harmonogram", "/harmonogram", class:"bookmark", id: "bookmark1" %></li>
    <li><%= link_to "Materiały", "/materialy", class:"bookmark", id: "bookmark2" %></li>
    <li><%= link_to "Instrukcja", "/instrukcja", class:"bookmark", id: "bookmark3" %></li>
    <li><%= link_to "Prześlij pracę", "/praca", class:"bookmark", id: "bookmark4" %></li>
  </ul>
</li>
<li><%= link_to "Pomoc", "/pomoc", class:"bookmark", id: "bookmark5" %></li>
<li><%= link_to "Wyloguj się", "/wyloguj",class:"bookmark", id: "bookmark6" %></li>
</ol>
</div>
</div>

<div class="c">
<form>
<input type="search" id="searchInput" placeholder="Szukaj na stronie...">
<button type="button" class="przycisk" id="searchButton"><b> 🔎 </b></button>
</form>
</div>

<div class="main">
<div class="gora">
<h2>Witaj w zakładce <span class="materialy"> Materiały</span></h2>
Znajdziesz tutaj przydatne załączniki, które mogą ci pomóc w tworzeniu pracy dyplomowej:
<p><center><%= image_tag "czapka.png", height: 150 %></center></p>
</div>
<div class="dol">
<table>
    <tr>
        <th>Nazwa załącznika</th>
        <th>Opis</th>
        <th>Pobieranie</th>
    </tr>
<tr>
    <td>Przewodnik po formatowaniu pracy dyplomowej</td>
    <td>Wskazówki dotyczące formatowania tekstu, czcionki itp.</td>
    <td class="przy"><a href="/pdf/praca_dyplomowa.pdf" target="_blank" class="download-button">Pobierz</a></td>
</tr>
<tr>
    <td>Przykładowa struktura pracy dyplomowej</td>
    <td>Struktura dokumentu i kolejność sekcji</td>
    <td class="przy"><a href="/pdf/struktura.pdf" target="_blank" class="download-button">Pobierz</a></td>
</tr>
<tr>
    <td>Przykładowy plan badawczy</td>
    <td>Zarys planu badawczego dla pracy dyplomowej</td>
    <td class="przy"><a href="/pdf/plan.pdf" target="_blank" class="download-button">Pobierz</a></td>
</tr>
    <td>Szablon pracy dyplomowej</td>
    <td>Szablon do użycia w programie do edycji tekstu</td>
    <td class="przy"><a href="/pdf/szablon_pracy.docx" target="_blank" class="download-button">Pobierz</a></td>
</tr>
</table>

</div>
</div>
</div>

<footer>
    <p>&copy; 2023 Obsługa Pracy Dyplomowej</p>
</footer>

<script>

function redirectToMatchingBookmark() {
 
var searchText = document.getElementById('searchInput').value.toLowerCase();

var bookmarks = document.querySelectorAll('.bookmark');

for (var i = 0; i < bookmarks.length; i++) {
    var bookmark = bookmarks[i];
  
    var bookmarkText = bookmark.innerText.toLowerCase();

    if (bookmarkText.includes(searchText)) {
        // Przekieruj do pasującej zakładki
        window.location.href = bookmark.href;
        return;
    }
}

alert("Nie znaleziono pasującej zakładki");
}

document.getElementById('searchButton').addEventListener('click', function() {
redirectToMatchingBookmark();
});

</script>