<%= stylesheet_link_tag('wyl.css') %>
<div class="cont">
<div class="a">
<%= image_tag "logo2.png", height: 90 %>
</div>

<div class="b">
<ol>
<li><%= link_to "Home", "/admin", class:"index-link" %></li>
<li><span class="index-link">Zarządzanie użytkownikami</span>
  <ul>
    <li><%= link_to "Wszyscy użytkownicy", "/wszyscy", class:"index-link" %></li>
    <li><%= link_to "Dodaj użytkownika", "/dodaj", class:"index-link" %></li>
    <li><%= link_to "Usuń użytkownika", "/usun", class:"index-link" %></li>
  </ul>
</li>
<li><%= link_to "Kontrola prac", "/kontrola", class:"index-link" %></li>
<li><%= link_to "Konfiguracja", "/konf", class:"index-link" %></li>
<li><%= link_to "Wyloguj się", "/wyl", class:"index-link" %></li>
</ol>
</div>
</div>

<div class="g">
<h2>Czy na pewno chcesz się wylogować?</h2>
<center><%= button_to "Wyloguj się", destroy_user_session_path, method: :delete, class:"button" %></center>
</div>


<footer>
    <p>&copy; 2023 Obsługa Pracy Dyplomowej</p>
</footer>
