<div id="<%= dom_id dissertation %>">
  <p>
    <strong>Index:</strong>
    <%= dissertation.index %>
  </p>

  <p>
    <strong>Student index:</strong>
    <%= dissertation.student_index %>
  </p>

  <p>
    <strong>Promoter index:</strong>
    <%= dissertation.promoter_index %>
  </p>

  <p>
    <strong>Sending date:</strong>
    <%= dissertation.sending_date %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= dissertation.feedback %>
  </p>

  <p>
    <strong>Mark:</strong>
    <%= dissertation.mark %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= dissertation.review %>
  </p>

</div>
