<%= stylesheet_link_tag('praca.css') %>
<div class="cont">
<div class="a">
<%= image_tag "logo2.png", height: 90 %>
</div>

<div class="b">
<div id="bookmarksContainer">
<ol>
<li><%= link_to "Home", "/student", class:"bookmark", id: "bookmark7" %></li>
<li><span class="bookmark">Praca dyplomowa</span>
  <ul>
    <li><%= link_to "Harmonogram", "/harmonogram", class:"bookmark", id: "bookmark1" %></li>
    <li><%= link_to "Materiały", "/materialy", class:"bookmark", id: "bookmark2" %></li>
    <li><%= link_to "Instrukcja", "/instrukcja", class:"bookmark", id: "bookmark3" %></li>
    <li><%= link_to "Prześlij pracę", "/praca", class:"bookmark", id: "bookmark4" %></li>
  </ul>
</li>
<li><%= link_to "Pomoc", "/pomoc", class:"bookmark", id: "bookmark5" %></li>
<li><%= link_to "Wyloguj się", "/wyloguj",class:"bookmark", id: "bookmark6" %></li>
</ol>
</div>
</div>

<div class="c">
<form>
<input type="search" id="searchInput" placeholder="Szukaj na stronie...">
<button type="button" class="przycisk" id="searchButton"><b> 🔎 </b></button>
</form>
</div>

<div class="m">
<div class="l">
<h2> Praca dyplomowa </h2>
<span class="text">Status przesłanego zadania</span>

<% if flash[:alert].present? %>
<div id="alert" class="alert">
  <%= flash[:alert] %>
</div>
<% end %>

</div>
<div class="p">
<h4>Aktualny czas
<p id="currentDateTime"></p></h4>
</div>
<table>
<tr class="dwa">
    <td class="t"> Numer indeksu </td>
    <td><%= current_user.index %></td>
</tr>
<tr>
    <td class="t">Status przesłanego zadania</td>
    <td>
    <% @dissertations.each do |dissertation| %>
      <% if dissertation.pdf.attached? %>
        <% if dissertation.mark.present? %>
          <p class="tex">Oceniona</p>
        <% else %>
          <p class="tex">Przesłano do oceny</p>
        <% end %>
      <% else %>
        <p class="tex">Nie przesłano do oceny</p>
      <% end %>
    <% end %>
    </td>
</tr>
<tr class="dwa">
    <td class="t">Stan oceniania</td>
    <td>
    <% @dissertations.each do |dissertation| %>
      <% if dissertation && dissertation.mark.present? %>
        <% if dissertation.mark > 2 %>
          <p class="tex">Twoja praca została ZAAKCEPTOWANA</p>
        <% else %>
          <p>Twoja praca została ODRZUCONA</p>
        <% end %>
      <% else %>
        <p>Twoja praca nie została oceniona</p>
      <% end %>
    <% end %>
    </td>
</tr>
<tr>
    <td class="t">Weryfikacja</td>
    <td>
    <p><%= @submission_message %></p></td>
</tr>
<tr class="hd">
    <td class="t">Przesłane pliki</td>
    <td>
    <% @dissertations.each do |dissertation| %>
        <% if dissertation.pdf.attached? %>
            <%= link_to dissertation.pdf.blob.filename, rails_blob_path(dissertation.pdf, disposition: "attachment") %>
            <p>Data wysłania: <%= dissertation.sending_date %></p>
        <% else %>
          Nie wysłałeś jeszcze swojej pracy dyplomowej.
        <% end %>
        <% end %>
    </td>
</tr>
<tr class="h">
    <td class="t">Komentarz do przesłanej pracy</td>
      <td>
      <% @dissertations.each do |dissertation| %>
        <% if dissertation.feedback.present? %>
       <%= dissertation.feedback %>
       <p>Twoja ocena to: <%= dissertation.mark %></p>
        <% else %>
        Brak komentarza
        <% end %>
      <% end %>
      </td>
</tr>
<tr class="hd">
    <td class="t">Recenzja</td>
    <td>
    <% @dissertations.each do |dissertation| %>
      <% if dissertation.review_pdf.present? %>
      <%= link_to dissertation.review_pdf.filename, dissertation.review_pdf if dissertation.review_pdf.attached? %>
      <p>Data zamieszczenia recenzji: <%= dissertation.updated_at%></p>
      <% else %>
      Tutaj pojawi się recenzja twojego prowadzącego
      <% end %>
    <% end %>
    </td>
</tr>
</table>
<center>
<%= form_with(model: @dissertation, url: dissertations_path, local: true, multipart: true) do |form| %>
    <%= form.file_field :pdf, class: :button %><br>
    <%= form.submit 'Dodaj pracę dyplomową', class: :przycisk %>
<% end %>
</center>
</div>
</div>

<footer>
    <p>&copy; 2023 Obsługa Pracy Dyplomowej</p>
</footer>

<script>

function redirectToMatchingBookmark() {
 
var searchText = document.getElementById('searchInput').value.toLowerCase();

var bookmarks = document.querySelectorAll('.bookmark');

for (var i = 0; i < bookmarks.length; i++) {
    var bookmark = bookmarks[i];
  
    var bookmarkText = bookmark.innerText.toLowerCase();

    if (bookmarkText.includes(searchText)) {
        // Przekieruj do pasującej zakładki
        window.location.href = bookmark.href;
        return;
    }
}

alert("Nie znaleziono pasującej zakładki");
}

function updateDateTime() {
    var currentDate = new Date();
    var day = currentDate.toLocaleDateString();
    var time = currentDate.toLocaleTimeString();

    var dateTimeString = day + ' ' + time;
    document.getElementById('currentDateTime').innerHTML = dateTimeString;
  }

  setInterval(updateDateTime, 1000);

  window.onload = updateDateTime;


  var targetDate = new Date("January 28, 2024 00:00:00").getTime();

  var countdownInterval = setInterval(function() {
      var currentDate = new Date().getTime();
      var timeDifference = targetDate - currentDate;

      var days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
      var hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);
      document.getElementById('countdown').innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

      if (timeDifference < 0) {
          clearInterval(countdownInterval);
          document.getElementById('countdown').innerHTML = "Czas minął!";
      }
  }, 1000);
  

  </script>