<%= stylesheet_link_tag('studenci.css') %>

<div class="cont">
<div class="a">
<%= image_tag "logo2.png", height: 90 %>
</div>

<div class="b">
<div id="bookmarksContainer">
<ol>
  <li><%= link_to "Home", "/promoter", class:"bookmark", id: "bookmark1" %></li>
  <li><%= link_to "Studenci", "/studenci", class:"bookmark", id: "bookmark2" %></li>
  <li><%= link_to "Wyloguj", "/wylogowanie", class:"bookmark" , id: "bookmark5"%></li>
</ol>
</div>
</div>

<div class="c">
<form>
<input type="search" id="searchInput" placeholder="Szukaj na stronie...">
<button type="button" class="button" id="searchButton"><b> 🔎 </b></button>
</form>
</div>

<div class="main">
<center><h1>Studenci</h1></center>
</div>
<table>
<tr class="dwa">
    <th>Praca dyplomowa</th>
    <th>Student index</th>
    <th>Promotor index</th>
    <th>Data wysłania</th>
    <th>Status akceptacji</th>
    <th>Ocena</th>
    <th>Twój komentarz</th>
    <th>Praca Dyplomowa</th>
    <th>Recenzja</th>
  </tr>
  <% @dissertations.each do |dissertation| %>
    <tr>
    <% if current_user.index == dissertation.promoter_index %>
    <td><%= link_to "Zaakceptuj pracę dyplomową", edit_dissertation_path(dissertation) %></td>
      <td><%= dissertation.student_index %></td>
      <td><%= dissertation.promoter_index %></td>
      <td><%= dissertation.sending_date %></td>
      <td>
        <% if dissertation && dissertation.mark.present? && dissertation.mark > 2 %>
          <p>Zakceptowana</p>
        <% else %>
        <p>Niezaakceptowana</p>
        <% end %>
    </td>
      <td><%= dissertation.mark %></td>
      <td><%= dissertation.feedback %></td>
      <td><%= link_to dissertation.pdf.filename, dissertation.pdf %> </td>
      <td><%= link_to dissertation.review_pdf.filename, dissertation.review_pdf if dissertation.review_pdf.attached? %></td>
    </tr>
    <% end %>
  <% end %>
</table>

<footer>
    <p>&copy; 2023 Obsługa Pracy Dyplomowej</p>
</footer>

<script>
    function toggleFAQ(faqId) {
        var faqAnswer = document.getElementById(faqId);
        if (faqAnswer.style.display === "block") {
            faqAnswer.style.display = "none";
        } else {
            faqAnswer.style.display = "block";
        }
    }

    function redirectToMatchingBookmark() {
 
    var searchText = document.getElementById('searchInput').value.toLowerCase();

    var bookmarks = document.querySelectorAll('.bookmark');

    for (var i = 0; i < bookmarks.length; i++) {
        var bookmark = bookmarks[i];
      
        var bookmarkText = bookmark.innerText.toLowerCase();

        if (bookmarkText.includes(searchText)) {
            // Przekieruj do pasującej zakładki
            window.location.href = bookmark.href;
            return;
        }
    }

    alert("Nie znaleziono pasującej zakładki");
}

document.getElementById('searchButton').addEventListener('click', function() {
    redirectToMatchingBookmark();
});

</script>