<!DOCTYPE html>
<html>
  <head>
    <title>DyplomXpert</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<<<<<<< HEAD

=======
    
>>>>>>> 9d4a4227e0f5e8b35a63d9ae6cd5293ba455f68b
    <% if cookies[:moon] %>
      <%= stylesheet_link_tag 'application_dark', media: 'all', 'data-turbolinks-track':'reload' %>
    <% else %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% end %>
<<<<<<< HEAD

=======
    
>>>>>>> 9d4a4227e0f5e8b35a63d9ae6cd5293ba455f68b
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
